@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.content__texto__alternativo {
    font-size: 1.1875rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 5;
}

@media (max-width: 1200px) {

    .content__apresentacao__titulo {
        text-align: center;
    }

    .cabecalho__menu__esquerda,
    .cabecalho__menu__direita {
        flex-wrap: wrap;
        justify-content: center;

    }
}